<?xml version="1.0" encoding="UTF-8"?>
<project xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd" xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <modelVersion>4.0.0</modelVersion>

    <groupId>{groupId}</groupId>
    <artifactId>{artifactId}</artifactId>
    <version>{version}</version>

    <name>WFA EDP Client Libraries</name>
    <description>
        Library classes that help EDP to get onboard.
    </description>
    <url>https://github.com/YuhongWang-Amazon/cross-media-measurement-api</url>

    <scm>
        <connection>scm:git:git://github.com/YuhongWang-Amazon/cross-media-measurement-api.git</connection>
        <developerConnection>scm:git:git://github.com/YuhongWang-Amazon/cross-media-measurement-api.git</developerConnection>
        <url>https://github.com/YuhongWang-Amazon/cross-media-measurement-api</url>
        <tag>HEAD</tag>
    </scm>

    <licenses>
        <license>
            <name>The Apache Software License, Version 2.0</name>
            <url>http://www.apache.org/licenses/LICENSE-2.0.txt</url>
            <distribution>repo</distribution>
        </license>
    </licenses>

    <developers>
        <developer>
            <id>wyuhong</id>
            <name>Yuhong Wang</name>
            <email>wyuhong@amazon.com</email>
            <organization>Amazon</organization>
            <organizationUrl>http://www.amazon.com/</organizationUrl>
            <roles>
                <role>developer</role>
            </roles>
            <timezone>+3</timezone>
        </developer>
    </developers>

    <dependencies>
{dependencies}
    </dependencies>
</project>